<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="refresh.towson.com.tracs">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- Permission for reading phone memory -->
    <uses-permission android:name="andriod.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="TRACS"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity android:name=".athlete_search"></activity>
        <activity
            android:name=".Strength_Coach_Search"
            android:label="@string/title_activity_strength_coach_search"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar"></activity>
        <activity android:name=".Team_Coach_Search" />
        <activity
            android:name=".app_bar_back_button"
            android:label="@string/title_activity_app_bar_back_button"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Team_Coach_Scrolling"
            android:label="@string/title_activity_team__coach__scrolling"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Strength_Coach_Scrolling_Activity"
            android:label="@string/title_activity_strength__coach__scrolling_"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="TRACS"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainScreen"
            android:label="Athlete"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Team_Coach"
            android:label="@string/title_activity_team__coach"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Strength_Coach"
            android:label="@string/title_activity_strength__coach"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ScrollingActivity1"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>